<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.hospital.mapper.CommonMapper">
    <select id="containsAppointment" parameterType="java.util.Map" resultType="boolean">
        SELECT EXISTS(SELECT *
                      FROM schedule_cell sc
                               JOIN time_cell tc ON sc.id = tc.scheduleCellId
                      WHERE doctorId = #{doctorId}
                        AND patientId IS NOT NULL
                        AND date >= #{dateStart}
                        AND #{dateEnd} >= date);
    </select>
</mapper>