<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.hospital.mapper.DoctorMapper">
    <resultMap id="resultDoctor" type="net.thumbtack.hospital.model.Doctor">
        <id property="id" column="doctorId"/>
        <result property="login" column="login"/>
        <result property="password" column="password"/>
        <result property="firstName" column="firstName"/>
        <result property="lastName" column="lastName"/>
        <result property="patronymic" column="patronymic"/>
        <result property="cabinet" column="cabinet"/>
        <result property="specialty" column="specialty"/>

        <collection property="schedule" column="scheduleCellId" javaType="java.util.List"
                    ofType="net.thumbtack.hospital.model.ScheduleCell">
            <result property="id" column="scheduleCellId"/>
            <result property="date" column="date"/>
            <association property="doctor" javaType="net.thumbtack.hospital.model.Doctor"/>

            <collection property="cells" column="timeCellId" javaType="java.util.List"
                        ofType="net.thumbtack.hospital.model.TimeCell">
                <result property="time" column="time"/>
                <result property="duration" column="duration"/>
                <association property="patient" javaType="net.thumbtack.hospital.model.Patient">
                    <id property="id" column="patientId"/>
                    <result property="firstName" column="patientFirstName"/>
                    <result property="lastName" column="patientLastName"/>
                    <result property="patronymic" column="patientPatronymic"/>
                    <result property="email" column="patientEmail"/>
                    <result property="address" column="patientAddress"/>
                    <result property="phone" column="patientPhone"/>
                    <collection property="tickets" javaType="java.util.List"
                                ofType="net.thumbtack.hospital.model.TimeCell"/>
                </association>
            </collection>
        </collection>
    </resultMap>

    <select id="getAllDoctors" resultMap="resultDoctor">
        SELECT user.id    AS doctorId,
               login,
               password,
               firstName,
               lastName,
               patronymic,
               ds.name    AS specialty,
               c.name     AS cabinet,
               sc.id      AS scheduleCellId,
               date,
               ticketTime AS time,
               duration,
               firstName  AS patientFirstName,
               lastName   AS patientLastName,
               patronymic AS patientPatronymic,
               email      AS patientEmail,
               address    AS patientAddress,
               phone      AS patientPhone
        FROM user
                 JOIN doctor d ON user.id = d.userId
                 JOIN doctor_specialty ds ON d.specialtyId = ds.id
                 LEFT JOIN cabinet c ON d.cabinetId = c.id
                 LEFT JOIN schedule_cell sc ON d.userId = sc.doctorId
                 JOIN time_cell tc ON sc.id = tc.scheduleCellId
                 LEFT JOIN patient p ON tc.patientId = p.userId;
    </select>

    <select id="getDoctorById" parameterType="int" resultMap="resultDoctor">
        SELECT user.id    AS doctorId,
               login,
               password,
               firstName,
               lastName,
               patronymic,
               ds.name    AS specialty,
               c.name     AS cabinet,
               sc.id      AS scheduleCellId,
               date,
               ticketTime AS time,
               duration,
               firstName  AS patientFirstName,
               lastName   AS patientLastName,
               patronymic AS patientPatronymic,
               email      AS patientEmail,
               address    AS patientAddress,
               phone      AS patientPhone
        FROM user
                 JOIN doctor d ON user.id = d.userId
                 JOIN doctor_specialty ds ON d.specialtyId = ds.id
                 LEFT JOIN cabinet c ON d.cabinetId = c.id
                 LEFT JOIN schedule_cell sc ON d.userId = sc.doctorId
                 JOIN time_cell tc ON sc.id = tc.scheduleCellId
                 LEFT JOIN patient p ON tc.patientId = p.userId
        WHERE doctorId = #{id};
    </select>
</mapper>