<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.hospital.mapper.PatientMapper">
    <resultMap id="resultPatient" type="net.thumbtack.hospital.model.Patient">
        <id property="id" column="id"/>
        <result property="login" column="login"/>
        <result property="password" column="password"/>
        <result property="firstName" column="firstName"/>
        <result property="lastName" column="lastName"/>
        <result property="patronymic" column="patronymic"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <resultMap id="resultTicketToDoctor" type="net.thumbtack.hospital.model.ticket.TicketToDoctor">
        <id property="ticket" column="ticket"/>
        <result property="room" column="room"/>
        <result property="date" column="date"/>
        <result property="time" column="time"/>
        <result property="doctorId" column="doctorId"/>
        <result property="doctorFirstName" column="doctorFirstName"/>
        <result property="doctorLastName" column="doctorLastName"/>
        <result property="doctorPatronymic" column="doctorPatronymic"/>
        <result property="speciality" column="speciality"/>
    </resultMap>

    <resultMap id="resultTicketToMedicalCommission"
               type="net.thumbtack.hospital.model.ticket.TicketToMedicalCommission">
        <id property="ticket" column="ticket"/>
        <result property="room" column="room"/>
        <result property="date" column="date"/>
        <result property="time" column="time"/>
        <result property="patientId" column="patientId"/>
        <result property="duration" column="duration"/>

        <collection property="doctorIds" column="doctorId" javaType="java.util.List" ofType="java.lang.Integer"/>
    </resultMap>

    <select id="getPatientById" parameterType="int" resultMap="resultPatient">
        SELECT user.id id,
               login,
               password,
               firstName,
               lastName,
               patronymic,
               email,
               address,
               phone
        FROM user
                 JOIN patient p ON user.id = p.userId
        WHERE userId = #{id};
    </select>

    <select id="getTicketsToDoctor" parameterType="int" resultMap="resultTicketToDoctor">
        SELECT ticket,
               c.name     room,
               date,
               time,
               doctorId,
               firstName  doctorFirstName,
               lastName   doctorLastName,
               patronymic doctorPatronymic,
               ds.name    speciality
        FROM schedule_cell
                 JOIN time_cell tc ON schedule_cell.id = tc.scheduleCellId
                 JOIN doctor d ON schedule_cell.doctorId = d.userId
                 JOIN doctor_specialty ds ON d.specialtyId = ds.id
                 JOIN cabinet c ON d.cabinetId = c.id
                 JOIN user u ON d.userId = u.id
        WHERE patientId = #{patientId};
    </select>

    <select id="getTicketsToMedicalCommission" parameterType="int" resultMap="resultTicketToMedicalCommission">
        SELECT ticket,
               name room,
               date,
               time,
               patientId,
               duration,
               doctorId
        FROM medical_commission mc
                 JOIN commission_doctor cd ON mc.ticket = cd.commissionTicket
                 JOIN cabinet c ON mc.cabinetId = c.id
        WHERE patientId = #{patientId};
    </select>
</mapper>