<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.hospital.mapper.UserMapper">
    <resultMap id="resultDoctorInformation" type="net.thumbtack.hospital.model.Doctor">
        <id property="id" column="doctorId"/>
        <result property="firstName" column="docFirstName"/>
        <result property="lastName" column="docLastName"/>
        <result property="patronymic" column="docPatronymic"/>
        <result property="cabinet" column="cabinet"/>
        <result property="specialty" column="specialty"/>
        
        <collection property="schedule" column="scheduleCellId" javaType="java.util.List"
                    ofType="net.thumbtack.hospital.model.ScheduleCell">
            <result property="id" column="scheduleCellId"/>
            <result property="date" column="date"/>

            <collection property="cells" column="scheduleCellId" javaType="java.util.List"
                        ofType="net.thumbtack.hospital.model.TimeCell">
                <result property="time" column="time"/>
                <result property="duration" column="duration"/>
                <association property="patient" javaType="net.thumbtack.hospital.model.Patient">
                    <id property="id" column="patientId"/>
                    <result property="firstName" column="pFirstName"/>
                    <result property="lastName" column="pLastName"/>
                    <result property="patronymic" column="pPatronymic"/>
                    <result property="email" column="email"/>
                    <result property="address" column="address"/>
                    <result property="phone" column="phone"/>
                    <collection property="tickets" javaType="java.util.List"
                                ofType="net.thumbtack.hospital.model.ScheduleCell"/>
                </association>
            </collection>
        </collection>
    </resultMap>

    <resultMap id="resultDoctorsInformation" type="java.util.List">
        <id property="id" column="doctorId"/>
        <result property="firstName" column="docFirstName"/>
        <result property="lastName" column="docLastName"/>
        <result property="patronymic" column="docPatronymic"/>
        <result property="cabinet" column="cabinet"/>
        <result property="specialty" column="specialty"/>

        <collection property="schedule" column="scheduleCellId" javaType="java.util.List"
                    ofType="net.thumbtack.hospital.model.ScheduleCell">
            <result property="id" column="scheduleCellId"/>
            <result property="date" column="date"/>

            <collection property="cells" column="scheduleCellId" javaType="java.util.List"
                        ofType="net.thumbtack.hospital.model.TimeCell">
                <result property="time" column="time"/>
                <result property="duration" column="duration"/>
                <association property="patient" javaType="net.thumbtack.hospital.model.Patient">
                    <id property="id" column="patientId"/>
                    <result property="firstName" column="pFirstName"/>
                    <result property="lastName" column="pLastName"/>
                    <result property="patronymic" column="pPatronymic"/>
                    <result property="email" column="email"/>
                    <result property="address" column="address"/>
                    <result property="phone" column="phone"/>
                    <collection property="tickets" javaType="java.util.List"
                                ofType="net.thumbtack.hospital.model.ScheduleCell"/>
                </association>
            </collection>
        </collection>
    </resultMap>

    <select id="getDoctorInformation" parameterType="java.util.Map" resultMap="resultDoctorInformation">
        SELECT doctorId,
               user.firstName docFirstName,
               user.lastName docLastName,
               user.patronymic docPatronymic,
               c.name cabinet,
               ds.name specialty,
               scheduleCellId,
               date,
               ticketTime time,
               duration,
               patientId,
               u.firstName pFirstName,
               u.lastName pLastName,
               u.patronymic pPatronymic,
               email,
               address,
               phone
        FROM user
                 JOIN doctor d ON user.id = d.userId
                 JOIN cabinet c ON d.cabinetId = c.id
                 JOIN doctor_specialty ds ON d.specialtyId = ds.id
                 LEFT JOIN schedule_cell sc ON d.userId = sc.doctorId
                 LEFT JOIN time_cell tc ON sc.id = tc.scheduleCellId
                 LEFT JOIN user u ON u.id = tc.patientId
                 LEFT JOIN patient p ON u.id = p.userId
        WHERE doctorId = #{doctorId} AND (patientId = #{patientId} OR patientId IS NULL)
        <if test="startDate != null"> AND date >= #{startDate} </if>
        <if test="endDate != null"> AND #{endDate} >= date </if>
        ORDER BY date, ticketTime;
    </select>

    <select id="getDoctorsInformation" parameterType="java.util.Map" resultMap="resultDoctorsInformation">
        SELECT doctorId,
        user.firstName docFirstName,
        user.lastName docLastName,
        user.patronymic docPatronymic,
        c.name cabinet,
        ds.name specialty,
        scheduleCellId,
        date,
        ticketTime time,
        duration,
        patientId,
        u.firstName pFirstName,
        u.lastName pLastName,
        u.patronymic pPatronymic,
        email,
        address,
        phone
        FROM user
        JOIN doctor d ON user.id = d.userId
        JOIN cabinet c ON d.cabinetId = c.id
        JOIN doctor_specialty ds ON d.specialtyId = ds.id
        LEFT JOIN schedule_cell sc ON d.userId = sc.doctorId
        LEFT JOIN time_cell tc ON sc.id = tc.scheduleCellId
        LEFT JOIN user u ON u.id = tc.patientId
        LEFT JOIN patient p ON u.id = p.userId
        WHERE (patientId = #{patientId} OR patientId IS NULL)
        <if test="speciality != null"> AND ds.name == #{speciality} </if>
        <if test="startDate != null"> AND date >= #{startDate} </if>
        <if test="endDate != null"> AND #{endDate} >= date </if>
        ORDER BY date, ticketTime;
    </select>
</mapper>