<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource='database.properties'/>

    <settings>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <environments default="release">
        <environment id="release">
            <transactionManager type='JDBC'/>
            <dataSource type='POOLED'>
                <property name='driver' value='${spring.datasource.driver-class-name}'/>
                <property name='url' value='${spring.datasource.url}'/>
                <property name='username' value='${spring.datasource.name}'/>
                <property name='password' value='${spring.datasource.password}'/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="net.thumbtack.hospital.mapper.AdministratorMapper"/>
        <mapper class="net.thumbtack.hospital.mapper.PatientMapper"/>
        <mapper class="net.thumbtack.hospital.mapper.UserMapper"/>
        <mapper class="net.thumbtack.hospital.mapper.CommonMapper"/>
        <mapper class="net.thumbtack.hospital.mapper.DoctorMapper"/>
        <mapper class="net.thumbtack.hospital.mapper.ScheduleMapper"/>
        <mapper class="net.thumbtack.hospital.mapper.MedicalCommissionMapper"/>
        <mapper class="net.thumbtack.hospital.debug.DebugMapper"/>
        <mapper resource="net/thumbtack/hospital/mapper/DoctorMapper.xml"/>
        <mapper resource="net/thumbtack/hospital/mapper/AdministratorMapper.xml"/>
        <mapper resource="net/thumbtack/hospital/mapper/PatientMapper.xml"/>
        <mapper resource="net/thumbtack/hospital/mapper/UserMapper.xml"/>
        <mapper resource="net/thumbtack/hospital/mapper/CommonMapper.xml"/>
        <mapper resource="net/thumbtack/hospital/debug/DebugMapper.xml"/>
    </mappers>
</configuration>